/* Vanta Background */
#vanta-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* Ensure it stays behind content */
    pointer-events: none;
    /* Allow clicking through */
}